/*// BASKET BASE STYLES //*/
header {
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.basket header h1 {
  float: left;
}
.basket header div {
  float: right;
  position: relative;
  right: 30px;
  /* z-index: 1; */
}
/* header:after {
  display: block;
  content: "";
  clear: both;
} */
.basket ul {
  padding: 0;
  margin-top: 100px;
}

.basket li {
  display: inline-block;
  list-style-type: none;
  width: 30%;
  margin: 30px 1.5%;
  text-align: center;
}
.basket button {
  border-radius: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
}

/*// BASKET ANIMATION STYLES //*/
.zoom {
  position: absolute;
  top: 40px;
  right: 75%;
  width: 40px;
  opacity: 0;
  animation: item 1s forwards ease;
}

/*keyframe */

@keyframes item {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    right: 40px;
  }
}
